.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
.product {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 400px;
  margin-right: 20px;
}
